/*Mobile*/
#nav-bar {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  font-family: "Noto Sans";
}
#highlight {
  background-color: rgb(40,96,161); /* Change this to the color you want */
}
#nav-container {
  float: left;
  width: 100%;
  position: relative;
  background-color: rgb(27,66,115);
}
#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#nav-bar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#nav-bar ul li a {
  display: block;
  padding: 10px 30px;
  color:#fff;
  text-decoration: none;
}
#nav-bar ul li a:hover {
  background-color:rgb(40,96,161);
}
#main {
  padding: 5% 20%;
  background-color: white;
}
#Journey_Start { /*h1*/
  font-family:"Noto Sans";
  font-weight: bold;
  font-size: 2.441em;
}
#Intro_text {
  font-family:"Titillium Web";
  font-size: 1.2em;
}
#Monthly_State { /*h2*/
  font-family:"Noto Sans";
  font-weight: bold;
  font-size: 1.25em;
  margin: 3%;
  
}
#statement_text {
  margin-bottom: 20%;
  margin-top: 5%;
  font-family:"Titillium Web";
  float: none;
  line-height: 1.2;
  font-size: 1.2em;
}
#Credit_Heading { /*h3*/
  clear:left;
  font-family:"Noto Sans";
  font-weight: bold;
  font-size: 1.25em;
  margin: 3%
}
#Laptop_Guy{
  padding-bottom: 2%;
  margin-bottom: 8%;
  margin-top: 2%;
  margin-right: 2%;
  width: 60%;
  height: auto;
}
#Bonus {
  font-family:"Titillium Web";
  margin-left: 10%;
  font-weight: bold;
  font-size: 2.17em;
  margin-bottom: 10%;
  margin-top: 15%;
}
#Creditcard_text {
  font-family:"Titillium Web";
  font-size: 1.2em;
  margin-bottom: 8%;
}
#Credit_cards {
  margin-left: 30%;
  width: 70%;
  height: auto;
}
#CopyRight {
  margin: auto;
}
.footer {
	background-color: #bbbcb8;
	padding-bottom: 50px;
}
#CCcontent{
  width: 95%;
  margin: 0 auto;
  font-family: "Noto Sans";
}
#CCH1 {
  text-align: center;
  margin: 10%;
  padding: 0%;
  color: #3c3c3c;
  font-size: 1.618em;
  font-weight: bolder;
}
#CCP1 {
  margin: 10%;
  padding: 0%;
  font-size: 1em;
  text-align: center;
}
#learnmore {
  text-align: center;
  font-size: .618em;
}
.promotions {
  margin: 10%;
  padding: 5%;
  border: 2px solid #acacac;
  border-radius: 10px;
  box-shadow: 0 2px 4px #bcbcbc;
  text-align: center;
  background-color: rgb(22,66,115);
  color: rgb(235, 234, 234);
  font-size: 1.618em;
  font-weight: bolder;
}
.promotions h2 {
  margin: 5%;
}
#personalinfo h3, #contactinfo h3, #financialinfo h3{
  font-weight: bold;
  font-size: 1.375em;
  margin-block-end: 5%;
}
#personalinfo, #contactinfo, #financialinfo, #agreement {
  margin: 10%;
  padding: 5%;
  border: 2px solid #acacac;
  border-radius: 10px;
  box-shadow: 0 2px 4px #bcbcbc;
}

#personalinfo ol, #contactinfo ol, #financialinfo ol, #agreement ol {
  list-style-type: none;
  padding-left: 0;
}

#personalinfo ol li, #contactinfo ol li, #financialinfo ol li {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
#personalinfo input, #contactinfo input, #financialinfo input, #input-submit input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}
#input-submit [type="submit"]{
  background: rgb(27,66,115);
  color: rgb(249, 249, 249);
  font-weight: bold;
  border: none;
}
#input-tos input[type="checkbox"]{
  accent-color: rgb(27,66,115);
}
#premiercc {
  display: block;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*tablet*/
@media screen and (min-width:768px) {
  #nav-bar {
    background-color: #ffffff;
    overflow: hidden;
  }
  #nav-container {
    float: left;
    width: 100%;
    position: relative;
  }
  #nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
  }
  #nav-bar ul li {
    float: left;
    position: relative;
    right: 50%;
    display: block;
  }
  #nav-bar ul li a {
    display: block;
    padding: 10px 30px;
    color:#fff;
    text-decoration: none;
  }
  #nav-bar ul li a:hover{
    background-color: #114dc3;
  }
  #highlight {
    text-decoration: none;
    color: white;
  }
  #main {
    padding: 5% 20%;
	  background-color: white;
	 
  }
 #Journey_Start { /*h1*/
   font-family:"Noto Sans";
   font-weight: bold;
   font-size: 2.917em;
 }
 #Intro_text {
   font-family:"Titillium Web";
   margin-left: 15%;
   font-size: 1.25em;
 }
 #Monthly_State { /*h2*/
   font-family:"Noto Sans";
   font-weight: bold;
   font-size: 1.75em;
   margin: 3%;
   margin-bottom: 5%;
  
 }
 #statement_text {
   margin-bottom: 10%;
   margin-top: 10%;
   font-family:"Titillium Web";
   float: none;
   line-height: 1.2;
   font-size: 1em;
 }
 #Credit_Heading { /*h3*/
   clear:left;
   font-family:"Noto Sans";
   font-weight: bold;
   font-size: 1.75em;
   margin: 3%;
   margin-bottom: 10%;
 }
  #Laptop_Guy{
    padding-bottom: 2%;
	margin-right: 2%;
	float: left;
  }
  #Bonus {
    font-family:"Titillium Web";
    margin-left: auto;
    font-weight: bold;
    font-size: 2.17em;
    margin-bottom: 10%;
    margin-top: 5%;
 }
 #Creditcard_text {
   font-family:"Titillium Web";
   font-size: 1.2em;
   margin-bottom: 8%;
 }

  #Credit_cards {
	  margin-left: 30%;
  }
  .footer {
	  background-color: #bbbcb8;
	  padding-bottom: 50px;
  }
  #CCH1, #CCP1 {
    margin: 5%;
  }
  .promotions {
    margin: 5%;
  }
  #personalinfo, #contactinfo, #financialinfo, #agreement {
    margin: 5%;
  }
  #input-submit [type="submit"]{
    padding: 15px;
    font-size:large;
  }
  #input-tos {
    margin-bottom: 20px;
  }
}

/* Mobile Styles for Transactions Content */
#main {
  background-color: white;
}

h1 {
  text-align: center; 
  margin-bottom: 20px; 
}


#transactions-header h1 {
  font-size: 50px; 
  font-family: "Noto Sans";
  margin-bottom: 60px;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #e0e0e0; 
  font-weight: bold; 
}
.transaction-header-item {
  flex: 1;
  text-align: center;
  font-family: "Noto Sans";
}
#transaction-filters {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 8px 16px;
  margin: 5px;
  background-color: #255be3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Noto Sans";
}
.filter-btn:hover {
  background-color: #114dc3;
}

#filter-date {
  padding: 8px 16px;
  margin: 5px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s; 
}


#transaction-filters button, #transaction-filters input[type="date"] {
  display: inline-block;
  margin-bottom: 5px;
}
.transaction-heading {
  font-size: 20px; 
  font-family: "Noto Sans";
  margin-bottom: 8px;
  margin-top: 10px;
}
.transaction {
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.transaction:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.transaction-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 14px;
}


.transaction-detail span {
  display: block;
  font-family: "Noto Sans";
}

.transaction-actions {
  text-align: center;
}

.btn-details {
  background-color: #114dc3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Noto Sans";
}
.btn-details:hover {
  background-color: #0d3b8c;
}
/* Tablet Styles */
@media screen and (min-width: 768px) {
  #main {
    padding: 5% 10%; 
  }
}

/* Desktop Styles for Transactions Content */
@media screen and (min-width: 800px) {
  #main {
    padding: 2% 5%; 
    background-color: white;
  }

  #transaction-filters button {
      padding: 10px 20px; 
      font-size: 16px;
  }

  .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 15px 20px; 
  }

   .transaction-detail, .transaction-header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    text-align: center; 
  }
  .transaction-detail span {
    flex: 1;
    text-align: center;
  }
  .transaction-actions {
    justify-self: end; 
  }

  .btn-details {
      padding: 10px 20px; 
  }
  

    #transaction-filters {
        text-align: left;
    }

    .filter-btn {
        padding: 10px 20px; 
        font-size: 16px;
    }

    #filter-date {
        padding: 10px 20px;
        font-size: 16px;
    }
}

/*desktop*/
@media screen and (min-width: 992px){
  #CCcontent {
    max-width: 70%;
  }
  #CCH1, #CCP1 {
    margin: 5%;
  }
  .promotions {
    margin: 5%;
    padding: 2%;
  }
  #personalinfo, #contactinfo, #financialinfo, #agreement {
    margin: 5%;
    padding: 2%;
  }
  #input-submit [type="submit"]{
    padding: 15px;
    font-size:large;
  }
  #input-tos {
    margin-bottom: 20px;
  }
  #CCP1 {
    font-size: 1.618em; /* Adjust the font size as needed */
  }
  #CCH1{
    font-size: 2.618em;
  }
   #Journey_Start { /*h1*/
   font-family:"Noto Sans";
   font-weight: bold;
   font-size: 2.917em;
 }
 #Intro_text {
   font-family:"Titillium Web";
   margin-left: 15%;
   font-size: 1.25em;
 }
 #Monthly_State { /*h2*/
   font-family:"Noto Sans";
   font-weight: bold;
   font-size: 1.75em;
   margin: 3%;
   margin-bottom: 5%;
  
 }
 #statement_text {
   margin-bottom: 10%;
   margin-top: 20%;
   font-family:"Titillium Web";
   float: none;
   line-height: 1.5;
   font-size: 1.25em;
 }
 #Credit_Heading { /*h3*/
   clear:left;
   font-family:"Noto Sans";
   font-weight: bold;
   font-size: 1.75em;
   margin-top: 3%;
   margin-bottom: 10%;
 }
  #Laptop_Guy{
    padding-bottom: 2%;
	margin-right: 2%;
	float: left;
  }
  #Bonus {
    font-family:"Titillium Web";
    margin-left: 30%;
    font-weight: bolder;
    font-size: 2.17em;
    margin-bottom: 10%;
    margin-top: 5%;
 }
 #Creditcard_text {
   font-family:"Titillium Web";
   font-size: 1.25em;
   margin-bottom: 8%;
 }
 #Credit_cards {
   margin-left: 30%;
   margin-bottom: 10%;
   width: 70%;
   height: auto;
 }
 #CopyRight {
   margin: auto;
 }
 #Copy_Right {
   bottom: 0;
   width: 100%;
   height: 46px;
 }
}
