/*Mobile*/
#nav-bar {
  background-color: #4948f9;
  overflow: hidden;
}
#highlight {
  background-color: #6275ef; /* Change this to the color you want */
}

#nav-container {
  float: left;
  width: 100%;
  position: relative;
}
#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#nav-bar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#nav-bar ul li a {
  display: block;
  padding: 10px 30px;
  color:#fff;
  text-decoration: none;
}
#nav-bar ul li a:hover {
  background-color:#6275ef;
}

#main {
  padding: 5% 20%;
  background-color: white;
}
h1 {
  padding-left: 30%;
  font-family:"Noto Sans", sans-serif;
}
h2 {
  font-family:"Noto Sans", sans-serif;
}
h3 {
  clear:left;
  font-family:"Noto Sans", sans-serif;
}
#Laptop_Guy{
  padding-bottom: 2%;
  margin-right: 2%;
  width: 60%;
  height: auto;
}
#Credit_cards {
  margin-left: 30%;
  width: 70%;
  height: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
#CopyRight {
  margin: auto;
}
.footer {
	background-color: #bbbcb8;
	padding-bottom: 50px;
}





/*Desktop*/
@media screen and (min-width:800px) {
  #nav-bar {
    background-color: #4948f9;
    overflow: hidden;
  }
  #nav-container {
    float: left;
    width: 100%;
    position: relative;
  }
  #nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
  }
  #nav-bar ul li {
    float: left;
    position: relative;
    right: 50%;
    display: block;
  }
  #nav-bar ul li a {
    display: block;
    padding: 10px 30px;
    color:#fff;
    text-decoration: none;
  }
  #nav-bar ul li a:hover{
    background-color: #114dc3;
  }
  #highlight {
    text-decoration: none;
    color: white;
  }
  #main {
     padding: 5% 20%;
	 background-color: white;
	 
  }
  h1 {
	 padding-left: 25%;
	 font-family:"Noto Sans", sans-serif;
  }
  h2 {
	 font-family:"Noto Sans", sans-serif;
  }
  h3 {
	  clear:left;
	  font-family:"Noto Sans", sans-serif;
  }
  #Laptop_Guy{
	  padding-bottom: 2%;
	  margin-right: 2%;
	  float: left;
  }
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  #Credit_cards {
	  margin-left: 30%;
  }
  .footer {
	background-color: #bbbcb8;
	padding-bottom: 50px;
  }
}
