/*Mobile*/
#nav-bar {
  background-color: black;
  overflow: hidden;
}
#nav-container {
  float: left;
  width: 100%;
  position: relative;
}
#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#nav-bar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#nav-bar ul li a {
  display: block;
  padding: 10px 30px;
  color:#fff;
  text-decoration: none;
}
#main {
  padding: 5% 20%;
}
h1 {
  padding-left: 30%;
}
h3 {
  clear:left;
}
#Laptop_Guy{
  padding-bottom: 2%;
  margin-right: 2%;
  width: 60%;
  height: auto;
}
#Credit_cards {
  margin-left: 30%;
}
.footer {
	background-color: #255be3;
	margin-top: 20%;
	padding-bottom: 50px;
}





/*Desktop*/
@media screen and (min-width:800px) {
  #nav-bar {
    background-color: black;
    overflow: hidden;
  }
  #nav-container {
    float: left;
    width: 100%;
    position: relative;
  }
  #nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
  }
  #nav-bar ul li {
    float: left;
    position: relative;
    right: 50%;
    display: block;
  }
  #nav-bar ul li a {
    display: block;
    padding: 10px 30px;
    color:#fff;
    text-decoration: none;
  }
  #nav-bar ul li a:hover{
    background-color: #114dc3;
  }
  #highlight {
    text-decoration: none;
    color: white;
  }
  #main {
     padding: 5% 20%;
  }
  h1 {
	 padding-left: 25%;
  }
  h3 {
	  clear:left;
  }
  #Laptop_Guy{
	  padding-bottom: 2%;
	  margin-right: 2%;
	  float: left;
  }
  #Credit_cards {
	  margin-left: 30%;
  }
  .footer {
	background-color: #595857;
	margin-top: 20%;
	padding-bottom: 50px;
  }
}
